* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
    font-family: Poppins-Regular, sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2015/08/28/11/27/space-911785_1280.jpg);
    background-size: 100%;
}

#logo { 
    float: left;
    display: inline-block;
    height: 50px;
    width: 200px;
  }
  
.clear {
    clear: both;
}

.notification {
    background-color: rgb(255, 255, 255);
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification:hover {
    background: red;
  }
  
  .notification .badge {
    position: absolute;
    top: 15px;
    right: -18px;
    padding: 5px 7px;
    size: 10px;
    font-size: 10px;
    border-radius: 50%;
    background: #6D6D6D;
    color: white;
  }
  
#nav {
      background-color: rgb(255, 255, 255);  /*turns nav bar white*/
      color: white;
      width: 100%;
      
}

.nav {
    float: right;
    list-style: none;    /*gets rid of bullet points*/ 
    text-align: left;
    padding: 0px -10px 0px -10px; 
    margin: 0;
  }

.nav > li {                                                             /*max-width: 768px*/
    display:Inline-block;
    padding: 12px 9px 10px 9px;                               /*nav bar text*/
}

.nav > li a {                                               
    text-decoration: none;
     color: #ED8074;
     text-align: end;
     font-weight: normal;
     font-size: 20px;
     padding: 5px 0px 5px 0px
 }

.nav > li > a:hover {
    background-color: #ED8074;
    color: white;
    border-radius: 16px;
 }

.nav > li > a.active {
    background-color: #ED8074;
    color: rgb(255, 255, 255);
 }

.card {
  box-shadow: 0 4px 8px 0 rgba(56, 56, 56, 0.2);
  position: relative;
  top: 0px;
  left: -250px;
  background-color: #6D6D6D;
  border-radius: 16px;;
  max-width: 550px;
  height:500px;
  margin: auto;
  text-align: left;
} 

.block {
  
    box-shadow: 0 4px 8px 0 rgba(56, 56, 56, 0.2);
    position: relative;
    top: 100px;
    left: -30px;
    background-color: #fff9f9;
    border-radius: 16px;;
    max-width: 1000px;
    height:500px;
    margin: auto;
    text-align: left;

}



.smallcard {
  box-shadow: 0 4px 8px 0 rgba(56, 56, 56, 0.2);
  position: relative;
  top: 0px;
  left: 150px;
  background-color: #6D6D6D;
  border-radius: 16px;;
  max-width: 250px;
  height: 150px;
  text-align: center;
  font-weight: bold;
} 

.leftcolumn {
  float: left;
  width: 50%;
 
}

.rightcolumn {
  float: right;
  width: 50%;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.title {
  color: white;
  font-size: 18px;
}

content {
  text-align: right;
}

.btn {
    display:inline-block;
    position: relative;
    top: 50px;
    left: 5px;
    background-color: #ED8074;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 10px 5px;
    font-size: 10px;
    cursor: pointer;
}

.avatar {
  position: relative;
  left: 175px;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.info {
  position: relative;
  left: 560px;
  top: -400px;
  vertical-align: middle;
  width: 450px;
  height: 450px;
  border-radius: 10%;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
  

